/* 重置 */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "微軟正黑體", sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 確保 body 至少填滿整個視窗高度 */
  margin: 0; /* 移除 body 的預設 margin */
}
main {
  flex: 1; /* main 內容區域佔據剩餘空間 */
}
a {
  text-decoration: none;
  display: inline-block;
  color: #008B8B !important;
}
a:hover {
  font-weight: bolder;
}
img,
iframe {
  width: 100%;
}
ul,
ol {
  list-style: none;
}
input,
button,
textarea {
  display: inline-block;
  background-color: transparent;
  border: 0;
}
.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

/* 英文對齊 */
[lang-size="en"] p {
  text-align: left;
}
/* 文字段落左右對齊 */
p:not(.price) {
  text-align: justify;
}

/* 外距 */
/* 5px */
.mb-03125 {
  margin-bottom: 0.3125rem;
}
/* 10px */
.my-0625 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
/* 30px */
.mt-1875 {
  margin-top: 1.875rem;
}
/* 100px */
.mt-625 {
  margin-top: 6.25rem;
}

/* 內距 */
/* 5px */
.py-03125 {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}
/* 30px */
.py-1875 {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}
/* 20px */
.p-125 {
  padding: 1.25rem;
}

/* 色彩 */

/* 搜尋輸入框啟用後的外觀設定 */
.search-form .search-box:focus {
  outline: none;
}
.search-btn:hover {
  background-color: #d4d4d44d !important;
}

/* 商品列表 */
#hot-merchandise .card ul,
#new-merchandise .card ul,
#merchandise .card ul {
  bottom: -60px;
  transition: 0.3s;
}
#hot-merchandise .card:hover ul,
#new-merchandise .card:hover ul,
#merchandise .card:hover ul {
  bottom: 0;
}
#hot-merchandise .card ul li:hover,
#new-merchandise .card ul li:hover,
#merchandise .card ul li:hover {
  background-color: #d3d3d32f;
}
#hot-merchandise .card-text span:nth-of-type(1)::before,
#hot-merchandise .card-text span:nth-of-type(3)::before,
#new-merchandise .card-text span:nth-of-type(1)::before,
#new-merchandise .card-text span:nth-of-type(3)::before,
#merchandise .card-text span:nth-of-type(1)::before,
#merchandise .card-text span:nth-of-type(3)::before,
#search-page .card-text span:nth-of-type(1)::before,
#search-page .card-text span:nth-of-type(3)::before {
  content: "NT$ ";
}
#hot-merchandise .card-text span:nth-of-type(1)::after,
#hot-merchandise .card-text span:nth-of-type(3)::after,
#new-merchandise .card-text span:nth-of-type(1)::after,
#new-merchandise .card-text span:nth-of-type(3)::after,
#merchandise .card-text span:nth-of-type(1)::after,
#merchandise .card-text span:nth-of-type(3)::after,
#search-page .card-text span:nth-of-type(1)::after,
#search-page .card-text span:nth-of-type(3)::after {
  content: " 元";
}

/* 只有首頁顯示通知訊息 */
body .notify:not(#home .notify) {
  display: none;
}

/* 聯絡表單textarea設為不能改變寬高並固定高度 */
#for-message {
  resize: none;
  height: 150px;
}

/* 首頁banner輪播圖 */
.f-carousel {
  margin-bottom: 0 !important;
  position: relative;
}
.f-carousel__dots {
  bottom: 1px !important;
}

/* 購物車列表頭樣式 */
#cart-list-form th:not(th:last-of-type):not(th:first-of-type) {
  border-right: 1px solid #d3d3d389;
}

/* 結帳區塊 */
.check-out {
  backdrop-filter: blur(5rem);
}

/* m-menu 選單 */
#m-menu li:last-of-type {
  border-bottom: none !important;
}

/* 輪播圖下面點點 */
.is-current .f-carousel__dot {
  padding-left: 8px;
  padding-right: 8px;
}

/* 設置所有 .subcat 元素的樣式 */
.subcat {
  left: calc(0px + 15.625rem);
  backdrop-filter: blur(5rem);
}
.subcat span:last-of-type {
  display: none;
}
.subcat span:nth-child(5n)::after { /* 使用 ::after 偽元素添加換行符 */
  content: "\a"; /* \a 是換行符的 Unicode 表示 */
  white-space: pre; /* 保持空白字符 */
}

/* 搜尋框清除X */
.search-form {
  position: relative;
  display: inline-block;
}
input[type="search"]::-webkit-search-cancel-button {
  appearance: none; /* 隱藏原始樣式 */
}
.clear-btn {
  position: absolute;
  right: 55px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #999;
  cursor: pointer;
  display: none; /* 預設隱藏 */
}
.clear-btn:hover {
  color: #e74c3c;
}

/* 前台主頁商品照片 */
.merchandise-img-box {
  height: 300px;
}

/* nav 背景 */
nav {
  backdrop-filter: blur(5rem);
}